@font-face {
  font-family: "Aire Exterior";
  src: url("./assets/AireExterior.ttf") format("truetype");
}

body,
html {
  background-color: #161616;
  color: #ffffff;
}
header {
  padding: 8px 16px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}
p {
  margin-bottom: 0 !important;
}
button {
  color: inherit;
  background-color: transparent;
}
h1 {
  font-family: "Aire Exterior", "Arial Narrow", sans-serif;
}
ol,
ul {
  padding: 0;
}
li {
  list-style: none;
}

li,
button,
.dashboard-header,
.post-log,
.tweet-log {
  border: 1px solid;
  margin: 2px;
  border-radius: 4px !important;
  padding: 4px;
}

.App {
  background-color: #161616;
  color: #ffffff;
}
